@page "/Sample02"

@using BlazorServerTwoTierApplication.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid

@inject IDbContextFactory<PubsDbContext> DbFactory

<h3>Sample02: 描画のカスタマイズ</h3>

@if (authors == null)
{
    <div>データロード中</div>
}
else
{
    <QuickGrid Items="@authors">
        <PropertyColumn Property="@(a => a.AuthorId)" Title="著者ID" />
        <TemplateColumn Title="著者名">
            @(context.AuthorFirstName) @(context.AuthorLastName)
        </TemplateColumn>
        <PropertyColumn Property="@(a => a.Phone)" Title="電話番後" 　 />
        <PropertyColumn Property="@(a => a.State)" Title="州" />
        <TemplateColumn Title="契約有無">
            @(context.Contract ? "契約あり" : "契約なし")
        </TemplateColumn>
    </QuickGrid>

}

@code {
    private IQueryable<Author>? authors = null;

    protected override async Task OnInitializedAsync()
    {
        await using (var pubs = await DbFactory.CreateDbContextAsync())
        {
            authors = (await pubs.Authors.ToListAsync()).AsQueryable();
        }
    }
}
